@font-face {
    font-family: "Lato";
    src: url("fonts/Lato-Black.ttf") format("truetype");;
}
body {
    background-image: url('images/background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(169, 169, 169, 0.694);
    background-attachment: fixed;
}
h1 {
    font-family: 'Lato';
}
#headercontainer {
}